<div *ngIf = "pokemon" class = "text-center">
    <h2 class="text-2xl font-bold">{{pokemon.name | uppercase}}</h2>
    <img [src] = "pokemon.sprites.front_default" alt = "{{pokemon.name}}" class = "mx-auto my-4" />
    <ul>
        <li *ngFor ="let stat of pokemon.stats">
            {{stat.stat.name | uppercase}}: {{stat.base_stat}
        </li>
    </ul>
    <app-pokemon-moves [moves] = "pokemon.moves"></app-pokemon-moves>
    <app-evolution-chain [chainId] = "pokemon.species.evolution_chain.url"></app-evolution-chain>
</div>