<div>
  <h1>Que me parece angular?</h1>
  <article>
    <p>Angular es un framework de desarrollo para crear aplicaciones web de una sola página (SPA) y aplicaciones web dinámicas. Angular es un framework de código abierto y es mantenido por Google.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quo, saepe consequuntur, iste totam itaque nostrum incidunt quaerat cupiditate optio deleniti obcaecati provident, eius ad magni omnis rem voluptatum ducimus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint explicabo, molestiae omnis distinctio reprehenderit modi tempore quis! Repudiandae, aliquid natus minima, quaerat veritatis inventore culpa ducimus ipsam debitis sit sint.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quam quasi dignissimos reiciendis rem neque, porro perspiciatis reprehenderit esse, eaque obcaecati sed perferendis molestiae odit corrupti voluptatibus omnis animi. Sapiente!

    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quam quasi dignissimos reiciendis rem neque, porro perspiciatis reprehenderit esse, eaque obcaecati sed perferendis molestiae odit corrupti voluptatibus omnis animi. Sapiente!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quam quasi dignissimos reiciendis rem neque, porro perspiciatis reprehenderit esse, eaque obcaecati sed perferendis molestiae odit corrupti voluptatibus omnis animi. Sapiente!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quam quasi dignissimos reiciendis rem neque, porro perspiciatis reprehenderit esse, eaque obcaecati sed perferendis molestiae odit corrupti voluptatibus omnis animi. Sapiente!
         

    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quam quasi dignissimos reiciendis rem neque, porro perspiciatis reprehenderit esse, eaque obcaecati sed perferendis molestiae odit corrupti voluptatibus omnis animi. Sapiente!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quam quasi dignissimos reiciendis rem neque, porro perspiciatis reprehenderit esse, eaque obcaecati sed perferendis molestiae odit corrupti voluptatibus omnis animi. Sapiente!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quam quasi dignissimos reiciendis rem neque, porro perspiciatis reprehenderit esse, eaque obcaecati sed perferendis molestiae odit corrupti voluptatibus omnis animi. Sapiente!
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quam quasi dignissimos reiciendis rem neque, porro perspiciatis reprehenderit esse, eaque obcaecati sed perferendis molestiae odit corrupti voluptatibus omnis animi. Sapiente!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quam quasi dignissimos reiciendis rem neque, porro perspiciatis reprehenderit esse, eaque obcaecati sed perferendis molestiae odit corrupti voluptatibus omnis animi. Sapiente!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quam quasi dignissimos reiciendis rem neque, porro perspiciatis reprehenderit esse, eaque obcaecati sed perferendis molestiae odit corrupti voluptatibus omnis animi. Sapiente!
    </p>

  </article>
  @defer(on viewport){

    <app-comments> </app-comments>
  } @placeholder {
    <p>Futuros comentarios</p>
  } @loading {
    <p>Cargando comentarios...</p>}
</div>

